/* 初期設定================== */
@charset "UTF-8";

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.1em;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: bottom;
}
figure {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: all 0.6s ease;
}
a:hover {
  transition: all 0.6s ease;
}
.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}
section h2 {
  font-size: 2rem;
}
/* /初期設定================== */
/* header================== */
.header {
  /* display: -ms-flexbox; */
  /* display: -webkit-flex; */
  display: flex;
  /* -ms-flex-pack: justify; */
  /* -webkit-justify-content: space-between; */
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  /* background-color: orange; */
  align-items: center;
}

.header h1 {
  margin-left: 25px;
  font-size: 2.5rem;
  color: #fff;
}

.header nav ul {
  /* display: -ms-flexbox; */
  /* display: -webkit-flex; */
  display: flex;
  /* align-items: center; */
  font-size: 1.2rem;
  line-height: 50px;
}

.header nav ul li {
  /* background-color: burlywood; */
  margin: 0 20px;
}

.header nav ul li a {
  color: #fff;
}

.header nav ul li a:hover {
  opacity: 0.6;
}

.header nav li.phone {
  /* background-color: aqua; */
  margin: 0 30px 0 10px;
  padding: 0 10px;
  border: 1px solid #fff;
  line-height: 50px;
  display: block;
  color: #fff;
}

.header nav li.phone i {
  margin: 0 10px;
}

@media screen and (max-width: 1199px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 26px;
    cursor: pointer;
  }

  .header nav {
    display: none;
  }

  .nav-button,
  .nav-button span {
    display: inline-block;
  }

  .nav-button {
    position: relative;
    width: 30px;
    height: 26px;
  }

  .nav-button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }

  .nav-button span:nth-of-type(1) {
    top: 0;
  }
  .nav-button span:nth-of-type(2) {
    top: 11px;
  }
  .nav-button span:nth-of-type(3) {
    bottom: 0;
  }
}
/* /header================== */
/* mainvisual================== */
.mainvisual {
  position: relative;
}

.mainvisual img {
  height: 700px;
  object-fit: cover;
  object-position: right top;
  /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); */
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 5vw;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1199px) {
  .mainvisual img {
    height: auto;
  }
}
/* /mainvisual================== */
/* topics================== */
.topics {
  padding: 50px;
}
.topics .content-wrapper {
  display: flex;
  justify-content: space-between;
}
.topics .heading {
  width: 35%;
}
.topics .content {
  width: 65%;
}
.topics .content table {
  width: 100%;
  margin-left: 25px;
}
.topics .content th {
  padding: 10px 0;
  border-bottom: 1px dotted;
  text-align: left;
}
.topics .content td {
  border-bottom: 1px dotted;
  text-align: left;
}
.topics .content tr:last-of-type th,
.topics .content tr:last-of-type td {
  border-bottom: none;
}
.btn {
  margin: 0;
  margin-left: 3%;
}
.btn-a {
  position: relative;
  display: inline-block;
  padding: 0.5em 3em 0.5em 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  color: #333;
  text-align: left;
  border: 1px solid #333;
  font-weight: bold;
}
.btn-a::after {
  position: absolute;
  top: 50%;
  right: 0.2em;
  content: "";
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #333;
  transition: all 0.2s;
}
.btn-a:hover::after {
  right: -0.05em;
}

@media screen and (max-width: 1199px) {
  .topics {
    padding: 50px 5vw;
  }
  .topics .content-wrapper {
    display: block;
  }
  .topics .heading {
    width: 100%;
  }
  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }
  .topics content {
    width: 100%;
  }
}

@media screen and (max-width 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }
  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }
  .topics .content td {
    display: block;
    width: 100%;
  }
}
/* /topics================== */
/* institution================== */
.institution {
  background-image: url(../images/img04.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;
}
.institution::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.institution .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.institution h2 {
  color: #fff;
  text-align: left;
}
.institution p {
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}
.institution p.btn {
  margin: 0;
}

@media screen and (max-width: 479px) {
  .institution .content {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .institution h2,
  p {
    text-align: center;
  }
  .institution p.btn a {
    width: 10%;
    min-width: 150px;
    margin: 0 auto;
  }
}
/* /institution================== */
